In [1]:
import numpy as np
import pandas as pd

In [4]:
df=pd.read_csv('../dataset_Facebook.csv', sep=';')
df.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393

In [6]:
df.columns

Index(['Page total likes', 'Type', 'Category', 'Post Month', 'Post Weekday',
       'Post Hour', 'Paid', 'Lifetime Post Total Reach',
       'Lifetime Post Total Impressions', 'Lifetime Engaged Users',
       'Lifetime Post Consumers', 'Lifetime Post Consumptions',
       'Lifetime Post Impressions by people who have liked your Page',
       'Lifetime Post reach by people who like your Page',
       'Lifetime People who have liked your Page and engaged with your post',
       'comment', 'like', 'share', 'Total Interactions'],
      dtype='object')

In [7]:
df['Type'].unique()

array(['Photo', 'Status', 'Link', 'Video'], dtype=object)

In [8]:
subset1=df[df['Type']=='Photo']
subset2=df[df['Type']=='Status']
subset3=df[df['Type']=='Video']
subset4=df[df['Type']=='Link']

In [9]:
print(subset1)
print(subset2)
print(subset3)
print(subset4)

     Page total likes   Type  Category  Post Month  Post Weekday  Post Hour
0              139441  Photo         2          12             4          3  \
2              139441  Photo         3          12             3          3
3              139441  Photo         2          12             2         10
4              139441  Photo         2          12             2          3
6              139441  Photo         3          12             1          3
..                ...    ...       ...         ...           ...        ...
495             85093  Photo         3           1             7          2
496             81370  Photo         2           1             5          8
497             81370  Photo         1           1             5          2
498             81370  Photo         3           1             4         11
499             81370  Photo         2           1             4          4

     Paid  Lifetime Post Total Reach  Lifetime Post Total Impressions
0     0.0                       2752                             5091  \
2     0.0                       2413                             4373
3     1.0                      50128                            87991
4     0.0                       7244                            13594
6     1.0                      11692                            19479
..    ...                        ...                              ...
495   0.0                       4684                             7536
496   0.0                       3480                             6229
497   0.0                       3778                             7216
498   0.0                       4156                             7564
499   NaN                       4188                             7292

     Lifetime Engaged Users  Lifetime Post Consumers
0                       178                      109  \
2                       177                      113
3                      2211                      790
4                       671                      410
6                       481                      265
..                      ...                      ...
495                     733                      708
496                     537                      508
497                     625                      572
498                     626                      574
499                     564                      524

     Lifetime Post Consumptions
0                           159  \
2                           154
3                          1119
4                           580
6                           364
..                          ...
495                         985
496                         687
497                         795
498                         832
499                         743

     Lifetime Post Impressions by people who have liked your Page
0                                                 3078             \
2                                                 2812
3                                                61027
4                                                 6228
6                                                15432
..                                                 ...
495                                               4750
496                                               3961
497                                               4742
498                                               4534
499                                               3861

     Lifetime Post reach by people who like your Page
0                                                1640  \
2                                                1503
3                                               32048
4                                                3200
6                                                9328
..                                                ...
495                                              2876
496                                              2104
497                                              2388
498                                              2452
499                                              2200

     Lifetime People who have liked your Page and engaged with your post
0                                                  119                    \
2                                                  132
3                                                 1386
4                                                  396
6                                                  379
..                                                 ...
495                                                392
496                                                301
497                                                363
498                                                370
499                                                316

     comment    like  share  Total Interactions
0          4    79.0   17.0                 100
2          0    66.0   14.0                  80
3         58  1572.0  147.0                1777
4         19   325.0   49.0                 393
6          3   249.0   27.0                 279
..       ...     ...    ...                 ...
495        5    53.0   26.0                  84
496        0    53.0   22.0                  75
497        4    93.0   18.0                 115
498        7    91.0   38.0                 136
499        0    91.0   28.0                 119

[426 rows x 19 columns]
     Page total likes    Type  Category  Post Month  Post Weekday  Post Hour
1              139441  Status         2          12             3         10  \
5              139441  Status         2          12             1          9
8              139441  Status         2          12             7          3
10             139441  Status         2          12             5         10
15             138414  Status         2          12             3         10
18             138414  Status         3          12             2          3
24             138414  Status         2          12             6         10
25             138458  Status         2          12             6          3
26             138458  Status         2          12             5         11
38             138895  Status         2          12             7          9
40             138895  Status         2          12             6         11
46             138353  Status         1          12             3         11
72             137893  Status         3          11             4         11
80             137177  Status         2          11             7          3
84             137177  Status         3          11             5          2
98             137020  Status         2          10             5          3
107            136736  Status         2          10             1          4
109            136736  Status         2          10             7          3
121            136393  Status         2          10             7          9
138            136013  Status         2          10             5          3
141            136013  Status         3          10             3         10
142            136013  Status         2          10             3          2
148            135713  Status         2          10             7          4
163            135617  Status         2           9             6          4
172            135195  Status         2           9             1         10
175            135195  Status         2           9             6         10
180            134879  Status         2           9             4          4
202            132817  Status         2           8             3          2
217            131956  Status         2           8             2         12
222            131808  Status         2           8             7          4
223            131808  Status         2           8             6         10
225            131808  Status         2           7             5         14
232            131630  Status         2           7             2          6
235            131300  Status         2           7             7         10
242            130791  Status         2           7             4          6
253            129600  Status         2           7             5         12
267            128032  Status         2           7             5         10
275            126424  Status         2           7             3         13
282            126345  Status         2           6             7         11
285            126141  Status         2           6             6          4
334            119198  Status         2           5             1          2
352            116435  Status         1           5             4          3
362            116091  Status         2           5             5          7
371            113028  Status         2           4             6          3
416            104070  Status         1           3             3         15

     Paid  Lifetime Post Total Reach  Lifetime Post Total Impressions
1     0.0                      10460                            19057  \
5     0.0                      10472                            20849
8     0.0                      11844                            22538
10    0.0                      21744                            42334
15    0.0                      10060                            19680
18    0.0                       3930                             7509
24    0.0                       8488                            15294
25    0.0                       8284                            15104
26    0.0                      19552                            34143
38    0.0                      17576                            33058
40    0.0                      13280                            24198
46    0.0                      16576                            30612
72    0.0                       9056                            16362
80    0.0                       8728                            17827
84    0.0                       6692                            13092
98    1.0                      12468                            24917
107   0.0                       9504                            19556
109   0.0                      13872                            27468
121   0.0                      15816                            30514
138   0.0                       8896                            17202
141   0.0                      13152                            25666
142   1.0                      31136                            59964
148   0.0                      10744                            20691
163   0.0                      11096                            21080
172   0.0                      21256                            41906
175   1.0                      13216                            24738
180   1.0                       9124                            17776
202   1.0                       9236                            16054
217   0.0                      14424                            26000
222   0.0                       8260                            14305
223   1.0                      20168                            35904
225   0.0                      15296                            25269
232   1.0                      10824                            20573
235   0.0                      10956                            19279
242   0.0                      17360                            33613
253   1.0                      15576                            27513
267   0.0                      10188                            16978
275   0.0                      18320                            31448
282   0.0                      12044                            20327
285   0.0                       8628                            14847
334   0.0                      10152                            17099
352   1.0                      23832                            42313
362   0.0                       9232                            16811
371   1.0                      17912                            34774
416   0.0                       9120                            14759

     Lifetime Engaged Users  Lifetime Post Consumers
1                      1457                     1361  \
5                      1191                     1073
8                      1530                     1407
10                     4258                     4100
15                     1264                     1209
18                      130                       86
24                     1341                     1270
25                     1521                     1462
26                     2806                     2531
38                     5352                     5202
40                     2055                     1912
46                     3572                     3464
72                     1006                      847
80                     2295                     2235
84                      199                      108
98                     2143                     1966
107                    1132                     1032
109                    2664                     2570
121                    2733                     2654
138                    1480                     1426
141                    2543                     2438
142                    6164                     5934
148                    1967                     1877
163                    1843                     1724
172                    4840                     4754
175                    2675                     2584
180                    1476                     1397
202                    1151                     1130
217                     304                      286
222                     997                      953
223                    3370                     3244
225                    2827                     2781
232                     135                      126
235                     128                      119
242                    2573                     2448
253                    2417                     2327
267                    1473                     1441
275                    3742                     3682
282                    2240                     2193
285                     870                      843
334                    1636                     1599
352                    1701                     1570
362                     908                      861
371                    2750                     2567
416                     951                      937

     Lifetime Post Consumptions
1                          1674  \
5                          1389
8                          1692
10                         4540
15                         1425
18                          112
24                         1489
25                         1711
26                         3420
38                         6547
40                         2720
46                         4802
72                         1153
80                         2828
84                          141
98                         2576
107                        1512
109                        3395
121                        3289
138                        1932
141                        3179
142                        9237
148                        2201
163                        2106
172                        5906
175                        2969
180                        1797
202                        1560
217                         383
222                        1211
223                        5106
225                        3627
232                         153
235                         130
242                        6017
253                        3098
267                        2136
275                        7854
282                        3599
285                        1692
334                        2755
352                        2838
362                        1967
371                        6591
416                        1290

     Lifetime Post Impressions by people who have liked your Page
1                                                11710             \
5                                                16034
8                                                15220
10                                               37849
15                                               17272
18                                                5009
24                                                9684
25                                               10266
26                                               17748
38                                               23135
40                                               17627
46                                               24363
72                                                9562
80                                               15418
84                                                7549
98                                               15850
107                                              16018
109                                              20198
121                                              23584
138                                              13838
141                                              20547
142                                              35977
148                                              17502
163                                              16095
172                                              35455
175                                              19599
180                                              13887
202                                              14014
217                                              25539
222                                              12905
223                                              26881
225                                              22103
232                                              20030
235                                              18838
242                                              23338
253                                              19078
267                                              14450
275                                              25584
282                                              17717
285                                              11970
334                                              15382
352                                              37816
362                                              12996
371                                              21009
416                                              13246

     Lifetime Post reach by people who like your Page
1                                                6112  \
5                                                7852
8                                                7912
10                                              18952
15                                               8548
18                                               2410
24                                               5244
25                                               5372
26                                               9824
38                                              11792
40                                               9344
46                                              12888
72                                               5180
80                                               7344
84                                               3336
98                                               7636
107                                              7616
109                                             10432
121                                             11912
138                                              7020
141                                             10280
142                                             18048
148                                              8964

In [10]:
pd.concat([subset1,subset4]).sort_index()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
6,139441,Photo,3,12,1,3,1.0,11692,19479,481,265,364,15432,9328,379,3,249.0,27.0,279
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119

In [11]:
df.sort_values('Page total likes', ascending=False)

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
8,139441,Status,2,12,7,3,0.0,11844,22538,1530,1407,1692,15220,7912,1250,0,161.0,31.0,192
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
12,139441,Photo,2,12,5,10,0.0,2847,5133,193,115,133,3779,2072,152,0,90.0,14.0,104
11,139441,Photo,2,12,5,10,0.0,3112,5590,208,127,145,3887,2174,165,0,88.0,18.0,106
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119

In [12]:
df1=df.transpose()
df1

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
Page total likes,139441,139441,139441,139441,139441,139441,139441,139441,139441,139441,...,85979,85979,85979,85093,85093,85093,81370,81370,81370,81370
Type,Photo,Status,Photo,Photo,Photo,Status,Photo,Photo,Status,Photo,...,Photo,Photo,Link,Photo,Photo,Photo,Photo,Photo,Photo,Photo
Category,2,2,3,2,2,2,3,3,2,3,...,3,3,1,3,3,3,2,1,3,2
Post Month,12,12,12,12,12,12,12,12,12,12,...,1,1,1,1,1,1,1,1,1,1
Post Weekday,4,3,3,2,2,1,1,7,7,6,...,6,6,5,1,7,7,5,5,4,4
Post Hour,3,10,3,10,3,9,3,9,3,10,...,11,3,11,2,10,2,8,2,11,4
Paid,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
Lifetime Post Total Reach,2752,10460,2413,50128,7244,10472,11692,13720,11844,4694,...,5280,6184,45920,8412,5400,4684,3480,3778,4156,4188
Lifetime Post Total Impressions,5091,19057,4373,87991,13594,20849,19479,24137,22538,8668,...,8703,10228,5808,13960,9218,7536,6229,7216,7564,7292
Lifetime Engaged Users,178,1457,177,2211,671,1191,481,537,1530,280,...,951,956,753,1179,810,733,537,625,626,564
Lifetime Post Consumers,109,1361,113,790,410,1073,265,232,1407,183,...,911,901,655,1111,756,708,508,572,574,524
Lifetime Post Consumptions,159,1674,154,1119,580,1389,364,305,1692,250,...,1237,1140,763,1632,1003,985,687,795,832,743
Lifetime Post Impressions by people who have liked your Page,3078,11710,2812,61027,6228,16034,15432,19728,15220,4309,...,5757,6085,15766,8632,5654,4750,3961,4742,4534,3861
Lifetime Post reach by people who like your Page,1640,6112,1503,32048,3200,7852,9328,11056,7912,2324,...,3300,3502,10720,5348,3230,2876,2104,2388,2452,2200
Lifetime People who have liked your Page and engaged with your post,119,1108,132,1386,396,1016,379,422,1250,199,...,431,437,220,699,422,392,301,363,370,316
comment,4,5,0,58,19,1,3,0,0,3,...,1,1,0,17,10,5,0,4,7,0
like,79.0,130.0,66.0,1572.0,325.0,152.0,249.0,325.0,161.0,113.0,...,79.0,105.0,128.0,185.0,125.0,53.0,53.0,93.0,91.0,91.0
share,17.0,29.0,14.0,147.0,49.0,33.0,27.0,14.0,31.0,26.0,...,30.0,46.0,9.0,55.0,41.0,26.0,22.0,18.0,38.0,28.0
Total Interactions,100,164,80,1777,393,186,279,339,192,142,...,110,152,137,257,176,84,75,115,136,119

In [13]:
df_melt=subset1.melt(id_vars=['Type','Category'],var_name='reach',value_name='count')
df_melt

       Type  Category               reach     count
0     Photo         2    Page total likes  139441.0
1     Photo         3    Page total likes  139441.0
2     Photo         2    Page total likes  139441.0
3     Photo         2    Page total likes  139441.0
4     Photo         3    Page total likes  139441.0
...     ...       ...                 ...       ...
7237  Photo         3  Total Interactions      84.0
7238  Photo         2  Total Interactions      75.0
7239  Photo         1  Total Interactions     115.0
7240  Photo         3  Total Interactions     136.0
7241  Photo         2  Total Interactions     119.0

[7242 rows x 4 columns]

In [14]:
pivot_table = pd.pivot_table(df_melt,index=['Type'], columns='reach', values='count')
pivot_table

reach,Lifetime Engaged Users,Lifetime People who have liked your Page and engaged with your post,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post Total Impressions,Lifetime Post Total Reach,Lifetime Post reach by people who like your Page,Page total likes,Paid,Post Hour,Post Month,Post Weekday,Total Interactions,comment,like,share
Type,,,,,,,,,,,,,,,,,
Photo,818.946009,507.305164,690.431925,1299.025822,16422.483568,28994.497653,13137.814554,6059.103286,122354.171362,0.28,7.997653,6.805164,4.107981,216.579812,7.492958,182.611765,27.158768