In [81]:
import pandas as pd
import numpy as np

In [82]:
df=pd.read_csv('../adult.csv')
df

,Age,Workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [83]:
df.shape

(32561, 15)

In [84]:
df.columns

Index(['Age', 'Workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'Salary'],
      dtype='object')

In [85]:
feature=['Age','fnlwgt','education-num','capital-gain','capital-loss', 'hours-per-week']
feature

['Age',
 'fnlwgt',
 'education-num',
 'capital-gain',
 'capital-loss',
 'hours-per-week']

In [86]:
df['Salary']=df['Salary'].replace(' <=50K', '0')
df['Salary']=df['Salary'].replace(' >50K', '1')

In [87]:
df

,Age,Workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,0
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,1
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,0
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,0
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,1

In [88]:
df.isnull().sum()

Age               0
Workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
Salary            0
dtype: int64

In [89]:
df['Salary'].unique()

array(['0', '1'], dtype=object)

In [90]:
def outliers(df_out, drop=False):
    for each in df_out.columns:
        ft=df_out[each]
        Q1=np.percentile(ft,25.)
        Q3=np.percentile(ft,75.)
        IQR=Q3-Q1
        outlier_step=IQR*1.5
        outliers=ft[~((ft>=Q1-outlier_step) & ft<=Q3+outlier_step)].index.tolist()
        if not drop:
            print('For the feature {},No of outliers is {}'.format(each,len(outliers)))
        if drop:
            df.drop(outliers, inplace=True,errors='ignore')
            print('Outliers from {} feature removed'.format(each))

In [91]:
outliers(df[feature])

For the feature Age,No of outliers is 0
For the feature fnlwgt,No of outliers is 0
For the feature education-num,No of outliers is 0
For the feature capital-gain,No of outliers is 900
For the feature capital-loss,No of outliers is 748
For the feature hours-per-week,No of outliers is 0

In [92]:
outliers(df[feature],drop=True)

Outliers from Age feature removed
Outliers from fnlwgt feature removed
Outliers from education-num feature removed
Outliers from capital-gain feature removed
Outliers from capital-loss feature removed
Outliers from hours-per-week feature removed

In [107]:
outliers(df[feature])

For the feature Age,No of outliers is 0
For the feature fnlwgt,No of outliers is 0
For the feature education-num,No of outliers is 0
For the feature capital-gain,No of outliers is 0
For the feature capital-loss,No of outliers is 0
For the feature hours-per-week,No of outliers is 0

In [106]:
df.shape

(30913, 15)

In [110]:
df.duplicated().sum()

24

In [113]:
df=df.drop_duplicates()

In [101]:
from sklearn.preprocessing import LabelEncoder
label=LabelEncoder()

In [105]:
df["Workclass"]=label.fit_transform(df["Workclass"])
df["education"]=label.fit_transform(df["education"])
df["marital-status"]=label.fit_transform(df["marital-status"])
df["occupation"]=label.fit_transform(df["occupation"])
df["relationship"]=label.fit_transform(df["relationship"])
df["race"]=label.fit_transform(df["race"])
df["sex"]=label.fit_transform(df["sex"])
df["native-country"]=label.fit_transform(df["native-country"])
df["Salary"]=label.fit_transform(df["Salary"])

In [98]:
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [115]:
X=df.drop(['Salary'],axis=1).values
y=df['Salary']

In [116]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=42)

In [117]:
model=LogisticRegression()
model.fit(X_train,y_train)

LogisticRegression()

In [118]:
model_NB=MultinomialNB()
model_NB.fit(X_train,y_train)

MultinomialNB()

In [119]:
y_pred=model.predict(X_test)
y_NB_pred=model_NB.predict(X_test)

In [120]:
print("Logistic regression accuracy:",metrics.accuracy_score(y_test,y_pred)*100)
print("Naive-Bayes accuracy:",metrics.accuracy_score(y_test,y_NB_pred)*100)

Logistic regression accuracy: 80.4683284773929
Naive-Bayes accuracy: 79.81007877414481